@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
:root{

--color-general:#e0e0e0;
--color-titles:#282d33;
--color-icons:#e0e0e0;
--color-check:#53c3c9;
--bg-gray:#f7f7f7;
--bg-footer:#333333;
--color-footer:#bababa;

}

body{
font-family:'Catamaran', sans-serif;
margin:0;

}

p{
 font-family: 'Catamaran';
	
}


.hero{
background-image:url("../img/bg-services-title.jpg");
height:300px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;

}

.hero h1{

color:white;
font-size:48px;
font-weight:700;

}


.services{

padding:80px 0;
text-align:center;

}



.icon i{
	color: #e0e0e0;
	font-size: 95px;
	opacity: 0.6;
}

.service-box{
padding:20px;

}

.service-box h3{
color:var(--color-titles);
font-weight:500;
margin-top:20px;
font-size:20px;
}

.service-box p{
font-size:14px;
color:#777;
font-size:12px;
	
}

.icon img{
width:80px;
opacity:0.5;

}

.check{
color:var(--color-check);
font-size:28px;
margin-top:20px;

}


.information{
background:var(--bg-gray);
padding:80px 0;
text-align:center;

}

.information h2{
color:var(--color-titles);
font-weight:700;
margin-bottom:10px;

}

.subtitle{
margin-bottom:50px;
color:#777;

}

.info-box{
margin-bottom:40px;

}

.info-box img{
width:100%;
margin-bottom:15px;

}

.info-box h4{
color:var(--color-titles);
font-weight:600;

}

.info-box p{
font-size:14px;

}


footer{
background:var(--bg-footer);
padding:20px 0;
text-align:center;

}

footer p{
color:var(--color-footer);
font-size:14px;
margin:0;

}

